.header {
  align-items: center;
  border-bottom: 3px solid #ebebeb;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 1rem 0;
}

.header__title {
  flex: 1;
  margin: 0;
}

.header__color {
  cursor: pointer;
}

.header__navigation {
  border: 3px solid #ebebeb;
  display: flex;
}

.header__navigation a {
  color: unset;
  padding: 0.5rem;
  text-decoration: none;
}

.header__navigation a + a {
  border-left: 3px solid #ebebeb;
}

.header__navigation a:hover {
  background-color: var(--header-navigation-background-hover);
  color: black;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .header {
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5rem;
  }
}
