@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;500&family=Source+Sans+Pro:wght@300;400;700;900&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --background: white;
  --background-blockquote: #f9f9f9;
  --background-pre: rgb(242 242 242);
  --background-scroll: #f5f5f5;
  --color: unset;
  --color-date: #9eabb3;
  --header-background-color: white;
  --header-navigation-background-hover: #ebebeb;
  --hyperlink-color: unset;
}

[data-theme="dark"] {
  --background: black;
  --background-blockquote: black;
  --background-pre: black;
  --background-scroll: white;
  --color: white;
  --color-date: white;
  --header-background-color: unset;
  --header-navigation-background-hover: white;
  --hyperlink-color: rgb(255 255 149);
}

html,
body,
#__next {
  background-color: var(--background);
  color: var(--color);
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  background-color: var(--background-scroll);
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #fc8080;
}
